/* TABLE STYLE */
body {
	text-align: center;
	font-family: "Comic Sans Ms", cursive;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

td {
	border: 5px solid #333;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sans Ms", cursive;
	font-size: 70px;
	cursor: pointer;
}

table {
	border-collapse: collapse; /* removes gap between border */
	position: absolute;
	left: 50%;
	margin-left: -155px; /* Re-centers grid.  table is 310px, -155 moves half */
	top: 50px;
	background-color: aqua;
} /* ----------------- */

/* REMOVE BORDERS */
table tr:first-child td {
	/*Top Row td */
	border-top: 0;
}

table tr:last-child td {
	/*bottom Row td */
	border-bottom: 0;
}

table td:first-child {
	/*left td */
	border-left: 0;
}

table td:last-child {
	/*right td */
	border-right: 0;
} /* ------------------- */

/* END GAME ELEMENT MODAL */
.endgame {
	display: none; /*will display at end of game */
	width: 200px;
	top: 120px;
	background-color: rgba(205, 133, 63, 0.9);
	box-shadow: 1px 2px 6px black;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	padding-top: 70px;
	padding-bottom: 50px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 2px 6px black;
} /* ------------------- */

button {
	background-color: purple;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 25px;
}